.navFlex {
    background-color: #12130F;
    grid-area: nav;
    display: flex;
    height: min-content;
}

.navDiv {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.navCommon ul {
    list-style: none;
    margin: 0;
}

.navCommon li {
    font-family: 'Poppins', serif;
    font-size: 1.0rem;
    display: inline-block;
}

.navCommon a {
    float: left;
    text-decoration-color: #EAE6E5;
    text-decoration: underline;
    text-decoration-color: white;
    color: #EAE6E5;
    display: flex;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    transition: .3s background-color;
}

.navCommon a:hover {
    background-color: #005f5f;
}

.navCommon a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
